<template>
    <router-link class="logo" to="/">
        <h2>Pluto film</h2>
    </router-link>
</template>

      <style scoped>
.logo {
    text-decoration: none;
}
.logo:hover {
    text-decoration: underline;
}
.logo > h2 {
    margin: 0;
    display: inline;
    font-size: 24px;
}
</style>