<template>
  <div v-if="props.collection">
    <strong>Part of:</strong>
    <router-link :to="'/collection/' + props.collection.id">{{ props.collection.name }}</router-link>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{ collection: any }>();
</script>