<template>
  <p>
    <strong>{{ title }}:&nbsp;</strong>
    <span class="crew-item" v-for="person in crew" :key="person.id">
      <router-link class="crew-link" :to="'/person/' + person.id">{{ person.name }}</router-link>
    </span>
  </p>
</template>

<script setup lang="ts">
defineProps<{
  title: String,
  crew: Array<any>,
}>();
</script>

<style scoped>
.crew-link {
  margin-right: 5px;
  white-space: nowrap;
}
.crew-item::after {
  content: " ";
}
</style>