<template>
  <div class="input">
    <VueMultiselect
      v-model="state.releaseType"
      track-by="value"
      label="text"
      :options="releaseTypeOptions"
      :searchable="false"
      :allow-empty="false"
      :showLabels="false"
    />
    <VueMultiselect
      v-model="state.sort_by_selected"
      track-by="value"
      label="text"
      :options="sort_by_options"
      :searchable="false"
      :allow-empty="false"
      :showLabels="false"
    />
    <VueMultiselect
      v-model="state.genre"
      :options="_genre"
      :multiple="true"
      :close-on-select="false"
      :clear-on-select="false"
      :preserve-search="true"
      placeholder="Genre"
      label="text"
      track-by="value"
      :showLabels="false"
    ></VueMultiselect>
    <VueMultiselect
      v-model="state.keyword"
      :options="state.keywordSource"
      label="name"
      track-by="id"
      @search-change="asyncSearchKeyword"
      placeholder="Keywords"
      :multiple="true"
      :internal-search="false"
      :showLabels="false"
    >
      <template v-slot:noResult>No results</template>
    </VueMultiselect>
    <VueMultiselect
      v-model="state.provider"
      track-by="value"
      label="text"
      :options="providerOptions"
      :searchable="false"
      :allow-empty="false"
      :showLabels="false"
    />
  </div>
</template>

<script async setup lang="ts">
import { reactive, watch } from "vue";
import { useRoute, useRouter } from "vue-router";
import { searchKeyword } from "../api";
import sort_by_options from "../constants/sort_by_options.json";
import genre from "../constants/genre";
import VueMultiselect from "vue-multiselect";

const route = useRoute();

const providerOptions = [
  {
    value: "all",
    text: "All providers",
  },
  {
    value: "netflix:GB",
    text: "Netflix GB",
  },
  {
    value: "netflix:US",
    text: "Netflix US",
  },
];

const releaseTypeOptions = [
  {
    value: "released",
    text: "Released",
  },
  {
    value: "upcoming",
    text: "Upcoming",
  },
  {
    value: "playing",
    text: "Now playing",
  },
];

const props = defineProps<{
  mediaType: String,
}>();

const emit = defineEmits({
  input: null,
});

const state = reactive<{
  sort_by_selected: "",
  genre: Array<any>,
  keyword: [],
  keywordSource: [],
  provider: "",
  releaseType: "",
}>({
  sort_by_selected: "",
  genre: [],
  keyword: [],
  keywordSource: [],
  provider: "",
  releaseType: "",
});

const _genre = props.mediaType === 'tv' ? genre.tv : genre.movie

function defaultState() {
  state.sort_by_selected =
    objectOptionFromQueryString("sort_by_selected", sort_by_options) ||
    sort_by_options[0];
  state.genre =
    objectOptionFromQueryArray("genre", _genre) || [];
  state.provider =
    objectOptionFromQueryString("provider", providerOptions) ||
    providerOptions[0];
  state.releaseType =
    objectOptionFromQueryString("release_type", releaseTypeOptions) ||
    releaseTypeOptions[0];
}
defaultState();

async function asyncSearchKeyword(query: string) {
  if (query) {
    const res = await searchKeyword(query);
    state.keywordSource = res || [];
  }
}

// watch(
//   () => route.query,
//   (to, from) => {
//     defaultState();
//   }
// );

function objectOptionFromQueryString(queryKey: string, options: any) {
  if (typeof route.query[queryKey] === "string") {
    for (let i = 0; i < options.length; i++) {
      if (options[i].value === route.query[queryKey]) {
        return options[i];
      }
    }
  }
  return null;
}

function objectOptionFromQueryArray(queryKey: string, options: Array<any>): Array<any> {
  const newValue: any | Array<any> = route.query[queryKey];
  const queryInput: Array<any> = [].concat(newValue);
  return options.filter((o: any) => queryInput.indexOf(o.value) >= 0);
}

function arrayEqual(array1: Array<any>, array2: Array<any>) {
  return (
    array1.length === array2.length &&
    array1.every((_, i) => array1[i] === array2[i])
  );
}

watch(
  [
    () => state.sort_by_selected,
    () => state.genre,
    () => state.keyword,
    () => state.provider,
    () => state.releaseType,
  ],
  (
    [selected, genre, keyword, provider, releaseType],
    [prevSelected, prevGenre, prevKeyword, prevProvider, prevReleaseType]
  ) => {
    if (
      selected != prevSelected ||
      !arrayEqual(genre, prevGenre) ||
      !arrayEqual(keyword, prevKeyword) ||
      provider != prevProvider ||
      releaseType != prevReleaseType
    ) {
      emit("input", { ...state });
    }
  }
);

emit("input", { ...state });
</script>

<style src="vue-multiselect/dist/vue-multiselect.css">
</style>

<style scoped>
.input {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin-top: 8px;
}
.input > * {
  height: min-content;
}
.result {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
</style>

<style>
.multiselect,
.multiselect__input,
.multiselect__single {
  font-size: 14px;
}
</style>