<template>
    <span>
        &nbsp;(&nbsp;
        <!-- <a
            :href="`https://www.themoviedb.org/tv/62688/episodes?credit_id=${credit_id}&person_id=${person_id}`"
            target="_blank"
        rel="noopener"
        >-->
        {{ props.episode_count }} {{ props.episode_count === 1 ? 'episode' : 'episodes' }}
        <!-- </a> -->
        &nbsp;)
    </span>
</template>

<script setup lang="ts">
const props = defineProps<{ episode_count: number, credit_id: string, person_id: string }>();
</script>