<template>
  <IconFavorite v-if="!!store.watch_list[props.title.id]" @click.prevent="removeFromMyList()" />
  <IconFavoriteOutline v-else @click.prevent="addToMyList()" />
</template>

<script setup lang="ts">
import { computed } from "vue";
import IconFavorite from "../icon/IconFavorite.vue";
import IconFavoriteOutline from "../icon/IconFavoriteOutline.vue";

import { supabase } from "../supabase";
import { store } from "../simpleStore";

const props = defineProps<{
  title: any,
  type?: string,
}>();

const watch_list = computed(() => store.watch_list);

async function addToMyList() {
  let media_type = props.type || props.title?.media_type || "movie";

  try {
    store.user = supabase.auth.user();

    store.watch_list[props.title.id] = props.title;

    const updates = {
      user_id: store.user?.id,
      media_id: props.title.id,
      media_type,
      media_content: props.title,
    };

    let { error } = await supabase.from("watch_list").upsert(updates, {
      returning: "minimal", // Don't return the value after inserting
      onConflict: "user_id, media_id",
    });

    if (error) throw error;
  } catch (error: any) {
    alert(error.message);
  }
}

async function removeFromMyList() {
  // store.commit("removeFromMyList", mediaId.value);
  delete store.watch_list[props.title.id];
  try {
    let { error } = await supabase.from("watch_list").delete().match(
      {
        user_id: store.user?.id,
        media_id: props.title.id,
      }
    );

    if (error) throw error;
  } catch (error: any) {
    alert(error.message);
  }
}
</script>
