<template>
  <footer>
    <AppLogo />&nbsp;
    <a
      href="https://gitlab.com/plutoapps/pluto-film/"
      target="_blank"
      rel="noopener"
    >Source on GitLab</a>
    <br />
    <a href="https://www.themoviedb.org/" target="_blank" rel="noopener">
      <TMDBLogo style="height: 0.8rem; margin-bottom: -1px" />
    </a>
    &nbsp;|&nbsp;
    <a href="https://www.justwatch.com/" target="_blank" rel="noopener">JustWatch</a>
    &nbsp;|&nbsp;
    <a href="https://www.wikidata.org/" target="_blank" rel="noopener">WikiData</a>
    &nbsp;|&nbsp;
    <a href="https://tastedive.com/" target="_blank" rel="noopener">TasteDive</a>
    <p>This product uses the TMDb API but is not endorsed or certified by TMDb.</p>
  </footer>
</template>

<script setup lang="ts">
import AppLogo from "./AppLogo.vue";
import TMDBLogo from "../icon/TMDBLogo.vue";
</script>

<style scoped>
footer {
  background: #2f2f2f;
  margin-top: 50px;
  padding: 30px 20px;
}
footer a {
  font-size: 1rem;
  white-space: nowrap;
  line-height: 30px;
}
footer p {
  margin: 0;
  font-size: 0.8rem;
}
</style>