<template>
  <div class="grid">
    <div v-for="item in items" :key="item[keyField || 'id']">
      <slot :item="item"></slot>
    </div>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  items: Array<any>,
  keyField?: string,
}>();
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
</style>