<template>
  <ul class="horizontal">
    <li v-for="(item,index) in items" :key="keyField ? item[keyField] : index">
      <slot :item="item"></slot>
    </li>
  </ul>
</template>

<script setup lang="ts">
defineProps<{
  items: Array<any>,
  keyField?: string
}>();
</script>

<style scoped>
.horizontal {
  display: flex;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 0;
}
.horizontal li {
  text-align: center;
  list-style-type: none;
  margin: 0 10px;
}
.horizontal li:first-child {
  margin-left: 0px;
}
.horizontal li:last-child {
  margin-right: 0px;
}
.horizontal-more {
  display: flex;
  margin: 0;
}
</style>