<template>
  <div v-if="store.user">
    <div>
      <span class="email">{{ store.user.email }}</span>
      <a href="#logout" @click="logout">Sign out</a>
    </div>
  </div>
  <router-link v-else to="/login">Login</router-link>
</template>

<script setup lang="ts">
import { store } from "../simpleStore";
import { supabase } from "../supabase";
import { getWatchList } from "../api";
import { useRouter } from "vue-router";

const router = useRouter();

async function logout() {
  try {
    let { error } = await supabase.auth.signOut();
    if (error) throw error;
  } catch (error: any) {
    alert(error.message);
  }
}

store.user = supabase.auth.user();
supabase.auth.onAuthStateChange((_, session) => {
  store.user = session?.user;
  getWatchList(store);
});
</script>

<style scoped>
.email {
  margin-right: 10px;
}
</style>