<template>
  <router-link :to="link" @click="emits('click')">
    <slot :text="text" :imagePath="imagePath" :releaseDate="releaseDate">{{ text }}</slot>
  </router-link>
</template>

<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  media: any,
  type: String,
}>();

const emits = defineEmits<(e: "click") => void>()

const link = computed(() => {
  switch (props.type) {
    case "movie":
      return "/film/" + props.media.id;
    case "tv":
      return "/tv/" + props.media.id;
    case "person":
      return "/person/" + props.media.id;
  }
  return "/";
});

const text = computed(() => {
  return props.media.title || props.media.name;
});

const imagePath = computed(() => {
  switch (props.type) {
    case "movie":
    case "tv":
      return props.media.poster_path;
    case "person":
      return props.media.profile_path;
  }
  return null;
});

const releaseDate = computed(() => {
  let dateString = props.media.release_date || props.media.first_air_date;
  return dateString?.split("-")?.[0];
});
</script>