<template>
  <div class="pager">
    <a v-if="page > 0" href="#next-page" @click.prevent="emit('previous')">Previous</a>
    <p>{{ pager }}</p>
    <a v-if="page < totalPages" href="#next-page" @click.prevent="emit('next')">Next</a>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  page: number,
  pageSize: number,
  totalPages: number,
  totalResults: number,
}>();
const emit = defineEmits({
  previous: null,
  next: null,
});

const pager = computed(() => {
  return (
    props.page * props.pageSize +
    1 +
    " - " +
    Math.min(props.page * props.pageSize + props.pageSize, props.totalResults) +
    " of " +
    props.totalResults
  );
});
</script>

<style scoped>
.pager {
  display: flex;
}
.pager > * {
  margin: 20px 10px;
}
</style>