<template>
  <div class="person">
    <MediaLink class="poster" type="person" :media="person" v-slot:default="slotProps">
      <img
        v-if="slotProps.imagePath"
        :src="'https://image.tmdb.org/t/p/w154' + slotProps.imagePath"
        loading="lazy"
      />
    </MediaLink>
    <p class="name">
      <MediaLink :media="person" type="person" />
    </p>
    <p>{{ props.person.character }}</p>
  </div>
</template>

<script setup lang="ts">
import MediaLink from "./MediaLink.vue";

const props = defineProps<{
  person: any,
}>();
</script>

<style scoped>
.person {
  width: 145px;
}
.name a {
  color: #ffffffe6;
  text-decoration: none;
  font-weight: bold;
}
p {
  margin: 10px 0;
}
img {
  width: 145px;
}
</style>