<template>
  <div>
    <strong>Production:&nbsp;</strong>
    <span
      v-for="(prod,index) in items"
      :key="prod.id"
    >{{ prod.name + (index < items.length - 1 ? ", " : "") }}</span>
  </div>
</template>

<script setup lang="ts">
defineProps<{
  items: Array<ProductionCompany>
}>();
</script>

<style scoped>
.crew-link {
  margin-right: 5px;
  white-space: nowrap;
}
.crew-item::after {
  content: " ";
}
</style>