<template>{{ runTime }}</template>

<script setup lang="ts">
import { computed } from "vue";

const props = defineProps<{
  minutes: number,
}>();

const runTime = computed(() => {
  const hours = props.minutes / 60;
  const hoursFloor = Math.floor(hours);
  const mins = Math.round((hours - hoursFloor) * 60);
  let result = "";
  if (hoursFloor > 0) {
    result += hoursFloor + "h ";
  }
  if (mins > 0) {
    result += mins + "m ";
  }
  return result;
});
</script>