<template>
  <div class="search">
    <input v-model="state.searchQuery" placeholder="Search" />
    <ul v-if="state.searchQuery.length > 2 && state.searchResults.length > 0">
      <li v-for="film in state.searchResults" :key="film.id">
        <MediaLink
          class="search-result-link"
          :media="film"
          :type="film.media_type"
          v-slot:default="slotProps"
          @click="state.searchResults = []"
        >
          <strong>{{ slotProps.text }}</strong>
          <span v-if="slotProps.releaseDate">({{ slotProps.releaseDate }})</span>
        </MediaLink>
      </li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { reactive, watch } from "vue";
import { searchAll } from "../api";
import MediaLink from "./MediaLink.vue";

const state = reactive<
  {
    searchQuery: string,
    searchResults: any,
  }>({
    searchQuery: "",
    searchResults: [],
  });
watch(
  () => state.searchQuery,
  (searchQuery, prevSearchQuery) => {
    if (searchQuery.length >= 3 && searchQuery != prevSearchQuery) {
      searchAll(searchQuery).then((results) => (state.searchResults = results));
    }
  }
);
</script>

<style scoped>
.search {
  position: relative;
}
.search ul {
  position: absolute;
  text-align: left;
  background: #141414;
  border: solid gray 1px;
  width: 70%;
  margin: 5px 12%;
  padding: 20px 0 20px 50px;
  z-index: 100;
  white-space: break-spaces;
}
.search li {
  padding: 2px 0;
}
.search-result-link {
  text-decoration: none;
}
.search-result-link:hover {
  text-decoration: underline;
}
input {
  width: 250px;
}
</style>