<template>
  <div class="title-card">
    <MediaLink class="poster" :type="mediaType" :media="title" v-slot:default="slotProps">
      <img
        v-if="slotProps.imagePath"
        :src="'https://image.tmdb.org/t/p/w154' + slotProps.imagePath"
        loading="lazy"
      />
    </MediaLink>
    <TitleVote :voteAverage="props.title.vote_average" />
    <Favorite class="favorite" :title="props.title" />
    <div class="title">
      <MediaLink :media="title" :type="mediaType" v-slot:default="slotProps">
        <h3>{{ slotProps.text }}</h3>
      </MediaLink>
      <span v-if="props.title.character">{{ props.title.character }}</span>
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import Favorite from "./Favorite.vue";
import MediaLink from "./MediaLink.vue";
import TitleVote from "./TitleVote.vue";

const props = defineProps<{
  title: any,
  mediaType?: String,
}>();

const mediaType = computed(
  () => props.mediaType || props?.title?.media_type || "movie"
);
</script>

<style scoped>
.name a {
  color: #ffffffe6;
  text-decoration: none;
  font-weight: bold;
}
p {
  margin: 10px 0;
}

.title-card {
  display: grid;
  grid-template-areas:
    "image image image"
    "rating none favorite"
    "title title title";
  grid-template-rows: auto 12px auto;
  width: 145px;
  justify-items: center;
  align-items: end;
}
.favorite {
  grid-row: favorite / favorite;
  grid-column: favorite / favorite;

  background: #757575;
  border-radius: 50%;

  width: 24px;
  height: 24px;
  padding: 3px;

  text-align: center;
}
.title {
  grid-row: title / title;
  grid-column: title / title;
  align-self: start;
}
.poster {
  grid-row: image / image;
  grid-column: image / image;
  height: 222px;
}
.poster > img {
  width: 100%;
  height: 222px;
  object-fit: cover;
}
@media (max-width: 800px) {
  .title-card {
    width: 150px;
  }
}
</style>