<template>
  <span
    v-if="vote > 0"
    class="vote-average"
    :style="{
      borderColor: `hsl(${vote}, 70%, 50%)`,
    }"
  >{{ vote }}</span>
</template>

<script setup lang="ts">
import { computed } from "vue";
const props = defineProps<{
  voteAverage: number,
}>();
const vote = computed(() => Math.floor(props.voteAverage * 10));
</script>

<style scoped>
.vote-average {
  padding: 4px 3px 0px 3px;
  border: white solid 3px;
  border-radius: 50%;
  background-color: #141414;
  color: #ffffffe6;
  margin-top: -4px !important;
}
</style>