<template>
  <div class="top-bar">
    <AppLogo v-if="!mobile" />
    <router-link to="/">Film</router-link>
    <router-link to="/tv">TV</router-link>
    <router-link to="/watch-list">Watch List</router-link>
    <Logout v-if="mobile" />
    <div class="grow"></div>
    <Search />
    <div v-if="!mobile" class="grow"></div>
    <Logout v-if="!mobile" />
  </div>
</template>

<script setup lang="ts">
import AppLogo from "./AppLogo.vue"
import Search from "./Search.vue";
import Logout from "./Logout.vue";
const mobile = window.innerWidth < 900;
</script>

<style scoped>
.top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  margin: 25px 35px 0 35px;
}
.top-bar > * {
  display: inline;
  padding: 0 20px 0 0;
}
.top-bar a {
  font-size: 18px;
}
.grow {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .top-bar > * {
    padding: 0 25px 5px 0;
  }
}
</style>