<template>
  <div class="video-container">
    <a href="#close-trailer" @click.prevent="emits('close')">Close</a>
    <div class="video" v-for="(video, videoIndex) in apiSource" :key="videoOption[videoIndex].id">
      <a :href="`https://www.youtube.com/watch?v=${videoOption[videoIndex].id}`" target="_blank" rel="noopener">
        <h3>{{ videoOption[videoIndex].name }}</h3>
        <img src="/yt_logo_rgb_dark.png" />
      </a>
      <video controls :poster="`https://i.ytimg.com/vi_webp/${videoOption[videoIndex].id}/maxresdefault.webp`"
        preload="metadata">
        <source v-for="stream in video.formats" :key="stream.itag" :src="stream.url" :type="stream.mimeType"
          thumbnail />Sorry, your browser doesn't support embedded videos.
      </video>
    </div>
    <a href="#close-trailer" @click.prevent="emits('close')">Close</a>
  </div>
</template>

<script setup lang="ts">
type VO = {
  name: string,
  id: string,
}
type APIS = {
  formats: any[],
}
const emits = defineEmits<(e: 'close') => void>();
const props = defineProps<{
  videoOption: VO[],
  apiSource: APIS[]
}>();
</script>

<style scoped>
.video-container {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 97%;
  width: 90%;
  max-width: 900px;
  margin: auto !important;
  overflow-y: visible;
  overflow-x: hidden;
  padding: 20px;
}

.video-container video {
  width: 100%;
  object-fit: contain;
  max-height: 500px;
  min-height: 300px;
}

.video a {
  display: flex;
  margin: 20px 0 10px 0;
}

.video a h3 {
  margin: 0 10px 0 0;
}

.video a img {
  height: 1rem;
  align-self: center;
}
</style>