<template>
  <div class="collection">
    <div class="info">
      <img
        v-if="state.collection.poster_path"
        :src="'https://image.tmdb.org/t/p/w154' + state.collection.poster_path"
      />
      <div class="detail">
        <h1>{{ state.collection.name }}</h1>
        <p>{{ state.collection.overview }}</p>
      </div>
    </div>
    <Grid
      class="parts"
      :items="state.collection.parts || []"
      keyField="id"
      v-slot:default="slotProps"
    >
      <TitleCard :title="slotProps.item" mediaType="movie" />
    </Grid>
  </div>
</template>

<script setup lang="ts">
import { reactive, computed } from "vue";
import { useRoute } from "vue-router";
import { collection } from "../api";
import Grid from "../components/Grid.vue";
import TitleCard from "../components/TitleCard.vue";

const state = reactive<{ collection: any }>({
  collection: {},
});
const route = useRoute();

loadCollection();

async function loadCollection() {
  if (typeof route.params.collectionid === "string") {
    const col = await collection(route.params.collectionid);
    col.parts?.sort((a: any, b: any) => {
      if (!a.release_date) {
        return 1;
      }
      const aDate = new Date(a.release_date);
      const bDate = new Date(b.release_date);
      return aDate.getTime() - bDate.getTime();
    });
    state.collection = col;
  }
}
</script>

<style scoped>
.collection .info {
  display: flex;
  margin: 10px;
}
.detail {
  margin-left: 20px;
}
.collection h1 {
  margin: 0;
}
.parts {
  margin: 10px;
}
</style>