<template>
  <DiscoverBase mediaType="movie" :discoverFunction="discoverMovie" />
</template>

<script async setup>
import { discoverMovie } from "../api";
import DiscoverBase from "./DiscoverBase.vue";
</script>

<style scoped>
</style>
