<template>
  <div class="discover">
    <DiscoverInput :mediaType="props.mediaType" @input="onQueryChange" />
    <Pager
      :page="state.page"
      :pageSize="25"
      :totalPages="state.totalPages"
      :totalResults="state.totalResults"
      @previous="onPagePrevious"
      @next="onPageNext"
    />
    <div class="result">
      <TitleCard
        v-for="title in state.results"
        :title="{ ...title, media_type: props.mediaType }"
        :key="title.id"
      />
    </div>
    <Pager
      :page="state.page"
      :pageSize="25"
      :totalPages="state.totalPages"
      :totalResults="state.totalResults"
      @previous="onPagePrevious"
      @next="onPageNext"
    />
  </div>
</template>

<script async setup lang="ts">
import { reactive } from "vue";
import { useRoute, useRouter } from "vue-router";
import TitleCard from "../components/TitleCard.vue";
import DiscoverInput from "../components/DiscoverInput.vue";
import Pager from "../components/Pager.vue";

const route = useRoute();
const router = useRouter();

const props = defineProps<{
  discoverFunction: Function,
  mediaType: String,
}>();

const state = reactive<{
  results: Array<any>
  page: number
  totalPages: number
  totalResults: number
}>({
  results: [],
  page: + (route.query.page || 0),
  totalPages: 0,
  totalResults: 0,
});

let _discoverInput = {};

function onQueryChange(input: any) {
  _discoverInput = input;
  runDiscoverInput(input);
}

type DiscoverPayload = {
  page: number
  sort_by: string
  region: string
  with_genres: string
  with_keywords: string
  with_watch_providers?: string
  watch_region?: string
  "release_date.gte"?: string
  "release_date.lte"?: string
  with_release_type?: string
}

function runDiscoverInput(input: any) {
  router.push({
    query: {
      ...route.query,
      page: state.page,
    },
  });
  const discoverPayload: DiscoverPayload = {
    page: state.page + 1,
    // "vote_count.gte": 500,
    sort_by: input?.sort_by_selected.value || "popularity.desc",
    region: "GB",
    with_genres: input?.genre?.map((k: any) => k.value)?.join(",") || "",
    with_keywords: input?.keyword?.map((k: any) => k.id)?.join(",") || "",
  };

  const watchRegionParts = input.provider?.value?.split(":");
  if (watchRegionParts?.[1]) {
    discoverPayload.with_watch_providers = "8";
    discoverPayload.watch_region = watchRegionParts?.[1];
  }

  switch (input.releaseType?.value) {
    case "upcoming":
      discoverPayload["release_date.gte"] = dateToday();
      discoverPayload["release_date.lte"] = dateNextMonth();
      discoverPayload.with_release_type = "2|3";
      break;
    case "playing":
      discoverPayload["release_date.gte"] = dateLastMonth();
      discoverPayload["release_date.lte"] = dateToday();
      discoverPayload.with_release_type = "2|3";
      break;
    default:
      discoverPayload["release_date.lte"] = dateToday();
      break;
  }
  props.discoverFunction(discoverPayload).then((results: any) => {
    state.results = results.results;
    state.totalPages = results.total_pages;
    state.totalResults = results.total_results;
  });
}

function dateToday() {
  return new Date().toISOString().substring(0, 10);
}

function dateLastMonth() {
  const d = new Date();
  d.setMonth(d.getMonth() - 1);
  return d.toISOString().substring(0, 10);
}

function dateStartMonth() {
  const d = new Date();
  d.setDate(0);
  return d.toISOString().substring(0, 10);
}

function dateNextMonth() {
  const d = new Date();
  d.setMonth(d.getMonth() + 3);
  return d.toISOString().substring(0, 10);
}

function onPagePrevious() {
  state.page--;
  runDiscoverInput(_discoverInput);
  // window.scrollTo(0, 250);
}
function onPageNext() {
  state.page++;
  runDiscoverInput(_discoverInput);
  // window.scrollTo(0, 250);
}
</script>

<style scoped>
.result {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1111px;
  margin: auto;
  text-align: center;
  justify-items: center;
  grid-gap: 5px;
  align-items: start;
}
@media (max-width: 800px) {
  .result {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
</style>
