<template>
  <TitleDetail :detail="state.detail" :wiki="state.wiki" :similar="state.similar" type="movie">
    <template v-slot:right>
      <p>
        <strong>Release date:</strong>
        {{ new Date(state.detail.release_date).toLocaleDateString() }}
      </p>
      <p>
        <strong>Budget:</strong>
        ${{ state.detail.budget?.toLocaleString() }}
      </p>
      <p>
        <strong>Revenue:</strong>
        ${{ state.detail.revenue?.toLocaleString() }}
      </p>
    </template>
  </TitleDetail>
</template>

<script setup lang="ts">
import { reactive, watch } from "vue";
import { useRoute } from "vue-router";
import TitleDetail from "./TitleDetail.vue";
import { detailMovie, wikiMovie, similarMovie } from "../api";

const state = reactive<{ detail: any, wiki: any, similar: Array<any> }>({
  detail: {},
  wiki: {},
  similar: []
});
const route = useRoute();

watch(
  () => route.params.filmid,
  () => {
    loadMovie();
    window.scrollTo(0, 0);
  }
);

loadMovie();

async function loadMovie() {
  if (typeof route.params.filmid === "string") {
    state.detail = await detailMovie(route.params.filmid);
    state.wiki = await wikiMovie(
      route.params.filmid,
      state.detail["watch/providers"]?.results
    );
    state.similar = await similarMovie(state.detail.title);
  }
}
</script>
