<template>
  <div class="person">
    <div class="info">
      <img
        v-if="state.detail.profile_path"
        :src="'https://image.tmdb.org/t/p/w300' + state.detail.profile_path"
        loading="lazy"
        @click="state.gallery_open = true"
      />
      <div class="detail">
        <h1>{{ state.detail.name }}</h1>
        <p>
          <strong>Known for</strong>
          {{ state.detail.known_for_department }}
        </p>
        <div class="links">
          <span>
            <strong>Birthday</strong>
            {{ new Date(state.detail.birthday).toLocaleDateString() }}
          </span>
          <span v-if="state.detail.deathday">
            <strong>Died</strong>
            {{ new Date(state.detail.deathday).toLocaleDateString() }}
          </span>
          <a
            :href="'https://www.themoviedb.org/person/' + state.detail.id + '/'"
            target="_blank"
            rel="noopener"
          >TMDB</a>
          <a
            :href="'https://www.imdb.com/name/' + state.detail.imdb_id + '/'"
            target="_blank"
            rel="noopener"
          >IMDB</a>
          <a
            v-if="state.detail?.external_ids?.twitter_id"
            :href="'https://twitter.com/' + state.detail?.external_ids?.twitter_id"
            target="_blank"
            rel="noopener"
          >Twitter</a>
          <p>
            <strong>Place of Birth</strong>
            {{ state.detail.place_of_birth }}
          </p>
        </div>
        <h3>Biography</h3>
        <div
          :class="{
            biography: true,
            short: state.bio_small,
          }"
        >
          <p v-for="para in state.biography" :key="para">{{ para }}</p>
        </div>
        <a href="#" @click.prevent="state.bio_small = !state.bio_small">
          {{
            state.bio_small ? "More" : "Less"
          }}
        </a>
      </div>
    </div>
    <h3>Known for</h3>
    <Horizontal :items="state.knownFor" :keyField="'id'" v-slot:default="slotProps">
      <TitleCard :title="slotProps.item" />
    </Horizontal>
    <h3>Credits</h3>
    <ul class="credit">
      <li v-for="creditItem in state.creditCast" :key="creditItem.id">
        <span>
          {{
            (creditItem.release_date || creditItem.first_air_date)?.split(
              "-"
            )?.[0]
          }}
        </span>
        <div>
          <MediaLink :media="creditItem" :type="creditItem.media_type" />
          <EpisodeCount
            v-if="creditItem.media_type === 'tv'"
            :episode_count="creditItem.episode_count"
            :credit_id="creditItem.credit_id"
            :person_id="creditItem.person_id"
          />
        </div>
        <span>{{ creditItem.character || creditItem.job }}</span>
      </li>
    </ul>
    <ul class="credit">
      <li v-for="creditItem in state.creditCrew" :key="creditItem.id">
        <span>
          {{
            (creditItem.release_date || creditItem.first_air_date)?.split(
              "-"
            )?.[0]
          }}
        </span>
        <div>
          <MediaLink :media="creditItem" :type="creditItem.media_type" />
          <EpisodeCount
            v-if="creditItem.media_type === 'tv'"
            :episode_count="creditItem.episode_count"
            :credit_id="creditItem.credit_id"
            :person_id="creditItem.person_id"
          />
        </div>
        <span>{{ creditItem.character || creditItem.job }}</span>
      </li>
    </ul>
    <div
      class="gallery-overlay"
      v-if="state.gallery_open"
      @click.prevent="state.gallery_open = false"
    ></div>
    <div class="gallery" v-if="state.gallery_open">
      <Grid :items="state.gallery_image_selected" v-slot:default="slotProps">
        <img
          v-if="slotProps.item.file_path"
          :src="
            'https://image.tmdb.org/t/p/' +
            (state.gallery_image_selected.length == 1 ? 'original' : 'w154') +
            slotProps.item.file_path
          "
          loading="lazy"
          @click="
          state.gallery_image_selected.length <= 1
            ? (state.gallery_image_selected = state.gallery_image_all)
            : (state.gallery_image_selected = [slotProps.item])
          "
        />
      </Grid>
    </div>
  </div>
</template>

<script setup lang="ts">
import { watch, reactive } from "vue";
import { useRoute } from "vue-router";
import Horizontal from "../components/Horizontal.vue";
import Grid from "../components/Grid.vue";
import TitleCard from "../components/TitleCard.vue";
import MediaLink from "../components/MediaLink.vue";
import EpisodeCount from "../components/EpisodeCount.vue";
import { personDetail } from "../api";

const state = reactive<{
  detail: any
  knownFor: Array<any>
  creditCast: Array<any>
  creditCrew: Array<any>
  biography: Array<any>
  bio_small: boolean,
  gallery_open: boolean,
  gallery_image_all: Array<any>
  gallery_image_selected: Array<any>
}>({
  detail: {},
  knownFor: [],
  creditCast: [],
  creditCrew: [],
  biography: [],
  bio_small: true,
  gallery_open: false,
  gallery_image_all: [],
  gallery_image_selected: [],
});
const route = useRoute();

function castSort(a: any, b: any) {
  return b.popularity - a.popularity
}

function creditSort(a: any, b: any) {
  if (!b.release_date && !b.first_air_date) {
    return 1;
  }
  if (!a.release_date && !a.first_air_date) {
    return -1;
  }
  const aMillis = Date.parse(a.release_date || a.first_air_date);
  const bMillis = Date.parse(b.release_date || b.first_air_date);
  if (aMillis > bMillis) {
    return -1;
  }
  if (aMillis < bMillis) {
    return 1;
  }
  return 0;
}

function castFilter(a: any) {
  return (
    !!a.vote_count && !!a.character && a.character?.match(/self/i) === null
  );
}

function crewFilter(needle: any, index: number, haystack: any) {
  for (let i = 0; i < haystack.length; i++) {
    if (i === index) {
      return true;
    }
    if (haystack[i].id == needle.id) {
      return false;
    }
  }
  return true;
}

watch(
  () => route.params.personid,
  () => {
    loadPerson();
    window.scrollTo(0, 0);
  }
);

loadPerson();

async function loadPerson() {
  if (typeof route.params.personid === 'string') {
    const data = await personDetail(route.params.personid);
    state.detail = data;
    state.biography = data.biography?.split("\n\n");
    const _creditCast = data.combined_credits?.cast?.filter(crewFilter) || [];
    state.creditCast = [].concat(_creditCast.sort(creditSort));
    const _creditCrew = data.combined_credits?.crew?.filter(crewFilter) || [];
    state.creditCrew = [].concat(_creditCrew.sort(creditSort));
    if (data.known_for_department === "Acting") {
      state.knownFor = [].concat(_creditCast.filter(castFilter).sort(castSort));
    } else {
      state.knownFor = [].concat(_creditCrew.sort(castSort));
    }
    state.gallery_image_all = data.images?.profiles?.sort(castSort);
    state.gallery_image_selected = state.gallery_image_all;
  }
}
</script>

<style scoped>
.person > * {
  margin-left: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.info img {
  object-fit: cover;
  height: 450px;
}
.info .detail {
  margin-left: 20px;
}
.info .links > * {
  margin-right: 10px;
}
.biography.short {
  max-height: 200px;
  flex-wrap: wrap;
  overflow: hidden;
  background: -webkit-linear-gradient(#bcc9d6 80%, #bcc9d600);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h3 {
  margin: 2rem 0 0 0;
}
.credit li {
  list-style-type: none;
  padding: 3px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.gallery {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 5%;
}
.gallery img {
  max-width: 100%;
  max-height: 100%;
}
@media (max-width: 800px) {
  .info {
    flex-direction: column;
  }
  .info .detail {
    margin-left: 0px;
  }
  .credit {
    padding: 10px;
  }
  .credit li {
    grid-template-columns: none;
    grid-template-rows: 1fr auto 1fr;
    padding: 10px 0;
  }
  .info img {
    height: auto;
  }
}
</style>
