<template>
  <div class="title-wrapper">
    <div :class="{ info: true, mobile }">
      <img
        v-if="props.detail.poster_path"
        :src="'https://image.tmdb.org/t/p/w300' + props.detail.poster_path"
        loading="lazy"
      />
      <div :class="{ detail: true, mobile }">
        <div class="title">
          <h1>
            {{ props.detail.title || props.detail.name }}
            <span
              v-if="props.detail.release_year"
            >{{ " (" + props.detail.release_year + ")" }}</span>
          </h1>
        </div>
        <div class="top">
          <p class="tagline">{{ props.detail.tagline }}</p>
          <div class="links">
            <a
              :href="'https://www.imdb.com/title/' + props.detail.imdb_id + '/'"
              target="_blank"
              rel="noopener"
            >IMDB</a>
            <a
              v-if="props.wiki?.link"
              :href="props.wiki.link"
              target="_blank"
              rel="noopener"
            >Wikipedia</a>
            <a :href="tmdbLink" target="_blank" rel="noopener">TMDB</a>
            <a
              v-if="props.wiki?.streamUrl"
              :href="props.wiki.streamUrl"
              target="_blank"
              rel="noopener"
            >{{ props.wiki.streamName }}</a>
            <a
              v-if="props.detail?.videoOption"
              href="#trailer"
              @click.prevent="trailerVideoOpen()"
            >Play Trailer</a>
          </div>
          <div class="metadata">
            <slot name="metadata">
              <span
                class="certificate"
                v-if="props.detail.certification"
              >{{ props.detail.certification }}</span>
              <span v-if="props.detail.original_language">[{{ props.detail.original_language }}]</span>
              <span v-if="props.detail.runTime">
                <RunTime :minutes="props.detail.runTime" />
              </span>
              <TitleVote
                v-if="typeof props.detail.vote_average === 'number'"
                :voteAverage="props.detail.vote_average"
              />
              <Favorite class="favorite" :title="props.detail" :type="props.type" />
            </slot>
          </div>
          <p>
            <Genres :genres="props.detail.genres || []" />
          </p>
          <p>
            <Genres
              :genres="
                props.detail.keywords?.keywords ||
                props.detail.keywords?.results ||
                []
              "
            />
          </p>
        </div>
        <div class="left">
          <slot name="left">
            <CreweLink
              v-if="props.detail.director?.length > 0"
              title="Director"
              :crew="props.detail.director"
            />
            <CreweLink
              v-if="props.detail.screenplay?.length > 0"
              title="Screenplay"
              :crew="props.detail.screenplay"
            />
            <CreweLink
              v-if="props.detail.story?.length > 0"
              title="Story"
              :crew="props.detail.story"
            />
            <CreweLink
              v-if="props.detail.producer?.length > 0"
              title="Producer"
              :crew="props.detail.producer"
            />
            <ProductionCompanies
              v-if="props.detail.production_companies?.length > 0"
              :items="props.detail.production_companies"
            />
          </slot>
        </div>
        <div class="right">
          <slot name="right"></slot>
        </div>
        <p class="bottom">
          <slot name="bottom">
            <CollectionLink :collection="props.detail.belongs_to_collection" />
            <p>{{ props.detail.overview }}</p>
          </slot>
        </p>
      </div>
    </div>
    <h2>Cast</h2>
    <Horizontal :items="props.detail.credits?.cast?.slice(0, 10) ?? []" v-slot:default="slotProps">
      <PersonCard :person="slotProps.item" />
    </Horizontal>
    <slot name="cast-more">
      <p class="cast-more">
        <a
          :href="`https://www.themoviedb.org/movie/${props.detail.id}/cast`"
          target="_blank"
          rel="noopener"
        >More</a>
      </p>
    </slot>
    <h2>Recommendations</h2>
    <Horizontal :items="props.detail.recommendations?.results ?? []" v-slot:default="slotProps">
      <TitleCard :title="slotProps.item" />
    </Horizontal>
    <h2>Similar</h2>
    <Horizontal :items="props.similar ?? []" v-slot:default="slotProps">
      <TitleCard :title="slotProps.item" />
    </Horizontal>
    <div class="video-overlay" v-if="state.video_open" @click.prevent="state.video_open = false"></div>
    <VideoPlayer
      v-if="state.video_open && state.videoSource"
      @close="state.video_open = false"
      :videoOption="props.detail?.videoOption"
      :apiSource="state.videoSource"
    />
  </div>
</template>

<script setup lang="ts">
import { reactive, computed } from "vue";
import PersonCard from "../components/PersonCard.vue";
import TitleCard from "../components/TitleCard.vue";
import Horizontal from "../components/Horizontal.vue";
import CreweLink from "../components/CreweLink.vue";
import Favorite from "../components/Favorite.vue";
import Genres from "../components/Genres.vue";
import TitleVote from "../components/TitleVote.vue";
import RunTime from "../components/RunTime.vue";
import CollectionLink from "../components/CollectionLink.vue";
import VideoPlayer from "../components/VideoPlayer.vue";
import ProductionCompanies from "../components/ProductionCompanies.vue";
import { fetchYoutubeStream } from "../api";

const props = defineProps<{
  type: string,
  detail: any,
  wiki?: any,
  similar?: Array<any>
}>();

const state = reactive({
  video_open: false,
  videoSource: null
});

const mobile = window.innerWidth < 700;

const tmdbLink = computed(() => {
  const base = "https://www.themoviedb.org";
  switch (props.type) {
    case "movie":
      return base + "/movie/" + props.detail.id;
    case "tv":
      return base + "/tv/" + props.detail.id;
  }
  return base;
});

async function trailerVideoOpen() {
  state.videoSource = null;
  const stream1 = await fetchYoutubeStream(props.detail?.videoOption[0].id);
  if (stream1) {
    state.videoSource = stream1;
    state.video_open = true;
  }
  const streamAll = await fetchYoutubeStream(
    props.detail?.videoOption
    .map((option:any) => option.id).join(','));
  if (streamAll) {
    state.videoSource = streamAll;
    state.video_open = true;
  }
}
</script>

<style scoped>
.video-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.title-wrapper > * {
  margin-left: 10px;
}
.info {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
}
.info img {
  object-fit: cover;
  height: 450px;
}
.info .detail {
  margin-left: 20px;
}
.info .links a {
  margin-right: 10px;
}
h1 span {
  color: #bcc9d6;
  font-weight: normal;
}
.detail {
  display: grid;
  grid-template: "title title" "top right" "left right" "bottom bottom";
}
.detail.mobile {
  display: grid;
  grid-template: "title title" "top top" "left left" "right right" "bottom bottom";
}
.detail .title {
  grid-row: title / title;
  grid-column: title / title;
}
.detail .links {
  margin-bottom: 10px;
}
.detail .top {
  grid-row: top / top;
  grid-column: top / top;
}
.detail .left {
  grid-row: left / left;
  grid-column: left / left;
}
.detail .right {
  grid-row: right / right;
  grid-column: right / right;
}
.detail .bottom {
  grid-row: bottom / bottom;
  grid-column: bottom / bottom;
}
.metadata {
  align-items: center;
  display: flex;
}
.metadata > * {
  margin: 0 10px 0 0;
}
.certificate {
  border: 2px grey solid;
  padding: 2px;
}
@media (max-width: 800px) {
  .info {
    flex-direction: column;
  }
  .info .detail {
    margin-left: 0px;
  }
  .info img {
    height: auto;
  }
}
</style>
