<template>
  <TitleDetail :detail="state.detail" :wiki="state.wiki" :similar="state.similar" type="tv">
    <template v-slot:metadata>
      <span>[{{ state.detail.original_language }}]</span>
      <span v-if="state.detail.runTime">
        <RunTime :minutes="state.detail.runTime" />
      </span>
      <TitleVote v-if="state.detail.vote_average" :voteAverage="state.detail.vote_average" />
      <Favorite :title="state.detail" />
    </template>
    <p>
      {{ state.detail.number_of_seasons }} seasons.
      {{ state.detail.number_of_episodes }} episodes
    </p>
    <p>Running: {{ state.detail.in_production ? "Yes" : "No" }}</p>
    <!-- <p>{{ state.detail.genres?.map((g: any) => g.name)?.join(", ") }}</p> -->
    <template v-slot:left>
      <CreweLink title="Created by" :crew="state.detail.created_by || []" />
      <CreweLink
        v-if="state.detail.producer?.length > 0"
        title="Producer"
        :crew="state.detail.producer || []"
      />
      <ProductionCompanies
        v-if="state.detail.production_companies?.length > 0"
        :items="state.detail.production_companies"
      />
    </template>
    <template v-slot:right>
      <p>
        <strong>Status:</strong>
        {{ state.detail.status }}
      </p>
      <p v-if="state.detail.last_episode_to_air">
        <strong>Last episode:</strong>
        {{ state.detail.last_episode_to_air?.name }}
        {{
          new Date(
            state.detail.last_episode_to_air?.air_date
          ).toLocaleDateString()
        }}
      </p>
      <p v-if="state.detail.next_episode_to_air">
        <strong>Next episode:</strong>
        {{ state.detail.next_episode_to_air?.name }}
        {{
          new Date(
            state.detail.next_episode_to_air?.air_date
          ).toLocaleDateString()
        }}
      </p>
      <div class="seasons">
        <h4>Seasons</h4>
        <div class="season" v-for="season in state.detail.seasons" :key="season.id">
          <router-link
            :to="`/tv/${route.params.tvid}/season/${season.season_number}`"
          >{{ season.name }}</router-link>
          <span
            v-if="season.air_date"
            style="margin-left: 5px"
          >{{ new Date(season.air_date).toLocaleDateString() }}</span>
        </div>
      </div>
    </template>
  </TitleDetail>
</template>

<script setup lang="ts">
import { reactive, watch } from "vue";
import { useRoute } from "vue-router";
import CreweLink from "../components/CreweLink.vue";
import Favorite from "../components/Favorite.vue";
import RunTime from "../components/RunTime.vue";
import TitleVote from "../components/TitleVote.vue";
import ProductionCompanies from "../components/ProductionCompanies.vue";
import TitleDetail from "./TitleDetail.vue";
import { detailTV, wikiTV, similarTV } from "../api";

const state = reactive<{ detail: any, wiki: any, similar: Array<any> }>({
  detail: {},
  wiki: {},
  similar: []
});
const route = useRoute();

watch(
  () => route.params.tvid,
  () => {
    loadMovie();
    window.scrollTo(0, 0);
  }
);

loadMovie();

async function loadMovie() {
  if (typeof route.params.tvid === 'string') {
    state.detail = await detailTV(route.params.tvid);
    state.wiki = await wikiTV(
      route.params.tvid,
      state.detail["watch/providers"]?.results
    );
    state.similar = await similarTV(state.detail.name);
  }
}
</script>

<style scoped>
.metadata > * {
  margin: 0 10px 0 0;
}
.seasons {
  max-height: 12rem;
  overflow: auto;
}
.seasons h4 {
  margin: 0px;
}
.season {
  margin: 3px 0;
}
</style>