<template>
  <h1>
    {{ state.program.name }} {{ state.season.name }}
    <span>({{ state.season?.air_date?.split("-")?.[0] }})</span>
  </h1>
  <router-link :to="'/tv/' + route.params.program_id">Back to {{ state.program.name }}</router-link>
  <div class="season-links">
    <router-link
      v-for="season in state.program.seasons"
      :key="season.id"
      :to="`/tv/${route.params.program_id}/season/${season.season_number}`"
      :class="
        season.season_number == route.params.season_number ? 'selected' : ''
      "
    >{{ season.name }}</router-link>
  </div>
  <div class="episodes">
    <div>
      <h2>Episodes</h2>
      <span v-if="state.season.episodes">{{ state.season.episodes.length }}</span>
    </div>
    <div class="episode" v-for="episode in state.season?.episodes || []" :key="episode.id">
      <img
        v-if="episode.still_path"
        :src="'https://image.tmdb.org/t/p/w300' + episode.still_path"
        loading="lazy"
      />
      <div class="episode-detail">
        {{ episode.episode_number }}
        <a
          :href="
            'https://www.themoviedb.org/tv/' +
            `${route.params.program_id}/season/${route.params.season_number}/episode/${episode.episode_number}`
          "
          target="_blank"
          rel="noopener"
        >{{ episode.name }}</a>
        <p>{{ new Date(episode.air_date).toLocaleDateString() }}</p>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { reactive, watch } from "vue";
import { useRoute } from "vue-router";
import { detailTV, tvSeason } from "../api";

const route = useRoute();

const state = reactive<{
  program: any
  season: any
}>({
  program: {},
  season: {},
});

async function load() {
  if (typeof route.params.program_id === "string" && typeof route.params.season_number === "string") {
    detailTV(route.params.program_id).then((detail) => {
      state.program = detail;
    });
    tvSeason(route.params.program_id, route.params.season_number).then(
      (season) => {
        state.season = season;
      }
    );
  }
}

load();

watch(
  () => route.params.season_number,
  () => {
    load();
    window.scrollTo(0, 0);
  }
);
</script>

<style scoped>
h1 span {
  color: #bcc9d6;
  font-weight: normal;
}
.episode img {
  max-height: 100px;
}
.episode {
  border: solid #bcc9d64a 1px;
  margin: 30px 20px;
  padding: 10px;
  display: flex;
}
.episodes div:first-child {
  display: flex;
  align-items: baseline;
}
.episodes div:first-child h2 {
  margin: 0;
}
.episodes div:first-child span {
  margin-left: 10px;
}
.episode-detail {
  margin: 10px;
}
.season-links {
  margin: 30px 0;
}
.season-links a {
  margin-right: 10px;
}
.season-links .selected {
  border: solid white 1px;
  text-decoration: none;
}
h1 {
  margin-bottom: 0;
}
</style>