<template>
  <div class="watch-list">
    <TitleCard v-for="title in store.watch_list" :key="title.id" :title="title" />
  </div>
</template>

<script setup lang="ts">
import { onMounted, watch } from "vue";
import { store } from "../simpleStore";
import { getWatchList } from "../api";
import TitleCard from "../components/TitleCard.vue";

onMounted(() => {
  getWatchList(store);
});
</script>

<style scoped>
.watch-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-width: 1111px;
  margin: auto;
  text-align: center;
  justify-items: center;
}
</style>
