<template>
  <div class="app-outer">
    <TopBar />
    <div class="app-inner">
      <router-view></router-view>
    </div>
    <div class="grow"></div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import TopBar from "./components/TopBar.vue";
import Footer from "./components/Footer.vue";
</script>

<style>
.app-outer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #bcc9d6;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.app-inner {
  margin: 25px;
}
body {
  margin: 0;
  background: #141414;
}
h1,
h2,
h3,
h4 {
  margin: 0.8em 0 0 0;
}
h1,
h2,
h3,
h4,
a {
  color: #ffffffe6;
}
p {
  margin: 10px 0;
}
.grow {
  flex-grow: 1;
}
</style>
